.container-representation {
  margin: 120px 0 90px 0;
  padding: 0px 140px;
}
.representation__boxs {
  width: 100%;
  height: 310px;
  display: flex;
  justify-content: space-between;
}
.representation__box {
  width: 290px;
  height: 310px;
  display: inline-block;
  background-color: var(--color-box);
  border-radius: 9px;
  box-shadow: 0 5px 10px 2px rgba(40, 39, 39, 0.2);
  margin: 0px 0 90px 0;
  transition: all 0.5s;
}
.representation__box > div {
  display: flex;
  justify-content: center;
  margin: 14px 0;
  color: var(--color-text);
}
.representation__img {
  margin-top: 0 !important;
}
.representation__img img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.representation__btn button {
  width: 80%;
  background-color: var(--color-btn);
  border: none;
  color: rgb(248, 248, 248);
  font-size: 14px;
  padding: 7px 13px;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid var(--color-border-btn);
  transition: all 0.03s ease-in 0.1s;
  visibility: hidden !important;
  opacity: 0;
}
.representation__btn button:hover {
  background-color: var(--color-btn-hover);
}
.representation__box:hover .representation__btn button {
  visibility: visible !important;
  opacity: 1;
}
.representation__box:hover {
  height: 380px;
  transform: translateY(-68px);
}
@media only screen and (max-width: 1439px) {
  .representation__boxs {
    flex-wrap: wrap;
  }
  .representation__box {
    width: 240px;
    height: 270px;
  }
  .representation__box:hover {
    height: 340px;
  }
}
@media only screen and (max-width: 1240px) {
  .representation {
    height: 600px;
  }
}
@media only screen and (max-width: 765px) {
  .container-representation {
    padding: 0px 0px;
  }
  .representation__boxs {
    justify-content: center;
    gap: 8px;
  }
  .representation__phone {
    font-size: 12px;
  }
  .representation__title,
  .representation__address,
  .representation__btn {
    font-size: 14px;
  }
  .representation__box {
    width: 220px;
    height: 250px;
  }
  .representation__box:hover {
    height: 320px;
  }
}
@media only screen and (max-width: 450px) {
  .representation {
    height: 1300px;
  }
}
