.theme {
  width: 52px;
  height: 52px;
  position: fixed;
  top: 45%;
  left: 32px;
  background-color: var(--color-btn-iconTheme);
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1031;
}
.icons-theme {
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-in !important;
  font-size: 2rem;
  margin-top: 17px;
}

