.container-product {
  margin-top: 72px;
  padding: 100px 0 70px 0;
}
.product__header {
  margin-right: 72px;
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: var(--color-text);
}
.productDisplay {
  display: flex;
  margin: 0 70px;
  background-color: var(--color-box);
  justify-content: space-evenly;
  align-items: center;
  border-radius: 9px;
}
.productDisplay__img img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  margin-top: 15px;
  border-radius: 9px;
}
.ProductDisplay__Information > p,
button {
  margin: 7px;
  color: var(--color-text);
}
.Description__Description {
  background-color: #FCE4EC;
  padding: 0 5px;
  border-radius: 9px;
  color: black !important;
}
.Description__btnOrder {
  background-color: var(--color-btn);
  color: white;
  border: none;
  font-size: 14px;
  padding: 4px 12px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.5s;
}
.Description__btnOrder:hover {
  background-color: var(--color-btn-hover);
}
@media only screen and (max-width: 768px) {
  .productDisplay {
    flex-direction: column;
    margin: 0 30px;
  }
  .Description__btnOrder {
    margin-bottom: 20px;
  }
  .product__header {
    margin-right: 0;
    text-align: center;
  }
  .Description__Description {
    padding: 4px 5px; 
  }
  .productDisplay__img img {
    width: 90%;
  }
}
@media only screen and (max-width: 576px) {
  .productDisplay {
    margin: 0 10px;
  }
}
