.heder {
  position: relative;
  background-color: #0f0f0f;
}
.img-heder {
  width: 100%;
  height: 100vh;
  background: url("./img-heder/img-heder.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.4;
  background-attachment: fixed;
}
.heder-title {
  text-align: justify;
  color: white;
  position: absolute;
  top: 240px;
  right: 14%;
}
.heder-title__brandName {
  word-spacing: 9px;
  font-size: 1.9rem;
  margin-right: 4%;
}
.heder-title__text {
  line-height: 2.5rem;
  text-align: justify;
  word-spacing: 2px;
  position: relative;
}
.heder-title__text__icon {
  margin-bottom: -7px;
  font-size: 1.3rem;
}
/* Animation to the brand */
.heder-title__brandName__span {
  position: relative;
  opacity: 0;
}
.heder-title__brandName__span:not(#dot) {
  bottom: -200px;
  animation-name: appear;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.heder-title__brandName__span:nth-of-type(2) {
  animation-delay: 0.2s;
}

.heder-title__brandName__span:nth-of-type(3) {
  animation-delay: 0.4s;
}

.heder-title__brandName__span:nth-of-type(4) {
  animation-delay: 0.6s;
}

@keyframes appear {
  0% {
    opacity: 0;
    bottom: -200px;
  }

  70% {
    opacity: 1;
    bottom: 15px;
  }

  85% {
    opacity: 1;
    bottom: -10px;
  }

  100% {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes dot {
  0% {
    opacity: 0;
    bottom: 100px;
  }

  50% {
    opacity: 1;
    bottom: 0;
  }

  65% {
    opacity: 1;
    bottom: 15px;
  }

  75% {
    opacity: 1;
    bottom: 0;
  }

  90% {
    opacity: 1;
    bottom: 10px;
  }

  100% {
    opacity: 1;
    bottom: 0;
  }
}
/* Animation to text */
.heder-title__text {
  animation: slide-up 1s;
}
/*  ______________________________________________ start style arrow down __________________________________________________ */
#section_arrowDown a span {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #cdcccc;
  border-bottom: 1px solid #c3c2c2;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section_arrowDown a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section_arrowDown a span:nth-of-type(2) {
  bottom: 36px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
#section_arrowDown a span:nth-of-type(3) {
  bottom: 52px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*  ______________________________________________ Finish style arrow down __________________________________________________ */

@keyframes slide-up {
  from {
    opacity: 0;
    line-height: 50px;
  }
  to {
    opacity: 1;
    line-height: 40px;
  }
}
@media only screen and (max-width: 1200px) {
  .img-heder {
    background-attachment: local;
    height: 620px;
  }
  #section_arrowDown {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .img-heder {
    height: 510px;
  }
  .heder-title__brandName__span {
    font-size: 1.1rem;
  }
  .heder-title__text {
    font-size: 13px;
  }
  .heder-title {
    top: 135px;
    right: 10%;
  }
}
@media only screen and (max-width: 768px) {
  .img-heder {
    height: 400px;
  }
  .heder-title {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .img-heder {
    height: 300px;
  }
}
@media only screen and (max-width: 451px) {
  .img-heder {
    height: 230px;
  }
}
